body{
    background-color: #23242a;
}
p{
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bravo{
    height: 500px;
    display: flex;
    justify-content: center;
    margin-left: 29%;
    margin-top: 2%;
}